.container{
    display: inline-block;
    place-items: center;
    
    /* background-color: aqua; */
    padding: 2em;
    margin: 2em;
    
        width: 20%;
        height: 25%;
        border-radius: 30px;
        background: lightgrey;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
      
}

.photo{
    border-radius: 30px;
}